torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0

torch-geometric==2.6.1
open3d==0.19.0
trimesh==4.7.1
pytorch3d==0.7.5

numpy==1.26.4
scipy==1.15.3
scikit-learn==1.7.2
pandas==2.3.3
networkx==3.4.2

opencv-python==4.13.0.92
matplotlib==3.10.5
pillow==11.3.0
pyquaternion==0.9.9

tqdm==4.67.1
PyYAML==6.0.3
yacs==0.1.8
tabulate==0.9.0
